In [5]:
import psycopg2
import os
import pandas as pd

In [12]:
db_user = os.environ["POSTGRES_USER"]
db_pass = os.environ["POSTGRES_PASSWORD"]
# print("Postgress Credentials {} {}".format(db_user, db_pass))

In [3]:
con = psycopg2.connect(
    database="mid_term_project", 
    user=db_user, 
    password=db_pass, 
    host="mid-term-project.ca2jkepgjpne.us-east-2.rds.amazonaws.com", 
    port="5432")

In [6]:
def execute_read_query(connection, query, return_pandas=True):
    cursor = connection.cursor()
    result = None
    try:
        if return_pandas:
            result = pd.read_sql_query(query, connection)
        else:
            cursor.execute(query)
            result = cursor.fetchall()
        return result
    except Error as e:
        print(f"The error '{e}' occurred")

In [8]:
select_passengers = """
    SELECT *
    FROM passengers
    LIMIT 10    
"""
passenger_sample = execute_read_query(con, select_passengers)
passenger_sample

,departures_scheduled,departures_performed,payload,seats,passengers,freight,mail,distance,ramp_to_ramp,air_time,...,dest_country,dest_country_name,aircraft_group,aircraft_type,aircraft_config,year,month,distance_group,class,data_source
0,0.0,1.0,5600.0,0.0,0.0,0.0,0.0,228.0,60.0,48.0,...,US,United States,6,681,2,2019,6,1,P,DU
1,0.0,3.0,64500.0,0.0,0.0,0.0,0.0,165.0,146.0,87.0,...,US,United States,6,635,2,2019,6,1,P,DU
2,0.0,1.0,5600.0,0.0,0.0,0.0,0.0,165.0,40.0,30.0,...,US,United States,6,681,2,2019,6,1,P,DU
3,0.0,2.0,11200.0,0.0,0.0,0.0,0.0,9.0,50.0,20.0,...,US,United States,6,681,2,2019,6,1,P,DU
4,0.0,1.0,5600.0,0.0,0.0,0.0,0.0,51.0,25.0,15.0,...,US,United States,6,681,2,2019,6,1,P,DU
5,0.0,1.0,5600.0,0.0,0.0,0.0,0.0,123.0,45.0,30.0,...,US,United States,6,681,2,2019,6,1,P,DU
6,0.0,1.0,21500.0,0.0,0.0,0.0,0.0,512.0,90.0,76.0,...,US,United States,6,635,2,2019,6,2,P,DU
7,0.0,1.0,36000.0,0.0,0.0,0.0,0.0,512.0,95.0,83.0,...,US,United States,6,655,2,2019,6,2,P,DU
8,0.0,1.0,21500.0,0.0,0.0,0.0,0.0,226.0,65.0,50.0,...,US,United States,6,635,2,2019,6,1,P,DU
9,0.0,1.0,36000.0,0.0,0.0,0.0,0.0,296.0,60.0,45.0,...,US,United States,6,655,2,2019,6,1,P,DU

In [15]:
passenger_sample.T

,0,1,2,3,4,5,6,7,8,9
departures_scheduled,0,0,0,0,0,0,0,0,0,0
departures_performed,1,3,1,2,1,1,1,1,1,1
payload,5600,64500,5600,11200,5600,5600,21500,36000,21500,36000
seats,0,0,0,0,0,0,0,0,0,0
passengers,0,0,0,0,0,0,0,0,0,0
freight,0,0,0,0,0,0,0,0,0,0
mail,0,0,0,0,0,0,0,0,0,0
distance,228,165,165,9,51,123,512,512,226,296
ramp_to_ramp,60,146,40,50,25,45,90,95,65,60
air_time,48,87,30,20,15,30,76,83,50,45
unique_carrier,U7,U7,U7,U7,U7,U7,U7,U7,U7,U7
airline_id,20447,20447,20447,20447,20447,20447,20447,20447,20447,20447
unique_carrier_name,USA Jet Airlines Inc.,USA Jet Airlines Inc.,USA Jet Airlines Inc.,USA Jet Airlines Inc.,USA Jet Airlines Inc.,USA Jet Airlines Inc.,USA Jet Airlines Inc.,USA Jet Airlines Inc.,USA Jet Airlines Inc.,USA Jet Airlines Inc.
region,D,D,D,D,D,D,D,D,D,D
carrier,U7,U7,U7,U7,U7,U7,U7,U7,U7,U7
carrier_name,USA Jet Airlines Inc.,USA Jet Airlines Inc.,USA Jet Airlines Inc.,USA Jet Airlines Inc.,USA Jet Airlines Inc.,USA Jet Airlines Inc.,USA Jet Airlines Inc.,USA Jet Airlines Inc.,USA Jet Airlines Inc.,USA Jet Airlines Inc.
carrier_group,2,2,2,2,2,2,2,2,2,2
carrier_group_new,2,2,2,2,2,2,2,2,2,2
origin_airport_id,16091,16091,16091,16091,16091,16091,16091,16091,16091,16091
origin_city_market_id,31295,31295,31295,31295,31295,31295,31295,31295,31295,31295
origin,YIP,YIP,YIP,YIP,YIP,YIP,YIP,YIP,YIP,YIP
origin_city_name,"Detroit, MI","Detroit, MI","Detroit, MI","Detroit, MI","Detroit, MI","Detroit, MI","Detroit, MI","Detroit, MI","Detroit, MI","Detroit, MI"
origin_country,US,US,US,US,US,US,US,US,US,US
origin_country_name,United States,United States,United States,United States,United States,United States,United States,United States,United States,United States
dest_airport_id,11193,11267,11267,11433,11721,11823,11996,11996,12339,12945
dest_city_market_id,33105,31267,31267,31295,31721,31823,31871,31871,32337,32945
dest,CVG,DAY,DAY,DTW,FNT,FWA,GSP,GSP,IND,LEX
dest_city_name,"Cincinnati, OH","Dayton, OH","Dayton, OH","Detroit, MI","Flint, MI","Fort Wayne, IN","Greer, SC","Greer, SC","Indianapolis, IN","Lexington, KY"
dest_country,US,US,US,US,US,US,US,US,US,US
dest_country_name,United States,United States,United States,United States,United States,United States,United States,United States,United States,United States
aircraft_group,6,6,6,6,6,6,6,6,6,6
aircraft_type,681,635,681,681,681,681,635,655,635,655
aircraft_config,2,2,2,2,2,2,2,2,2,2
year,2019,2019,2019,2019,2019,2019,2019,2019,2019,2019
month,6,6,6,6,6,6,6,6,6,6
distance_group,1,1,1,1,1,1,2,2,1,1
class,P,P,P,P,P,P,P,P,P,P
data_source,DU,DU,DU,DU,DU,DU,DU,DU,DU,DU

In [9]:
passenger_sample.columns

Index(['departures_scheduled', 'departures_performed', 'payload', 'seats',
       'passengers', 'freight', 'mail', 'distance', 'ramp_to_ramp', 'air_time',
       'unique_carrier', 'airline_id', 'unique_carrier_name', 'region',
       'carrier', 'carrier_name', 'carrier_group', 'carrier_group_new',
       'origin_airport_id', 'origin_city_market_id', 'origin',
       'origin_city_name', 'origin_country', 'origin_country_name',
       'dest_airport_id', 'dest_city_market_id', 'dest', 'dest_city_name',
       'dest_country', 'dest_country_name', 'aircraft_group', 'aircraft_type',
       'aircraft_config', 'year', 'month', 'distance_group', 'class',
       'data_source'],
      dtype='object')

In [10]:
select_flights = """
    SELECT *
    FROM flights
    LIMIT 10    
"""
flight_sample = execute_read_query(con, select_flights)
flight_sample

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name
0,2018-10-21,DL,DL,DL,2744,DL,N362NB,2744,10785,BTV,...,961.0,NaN,NaN,NaN,NaN,NaN,None,None,None,None
1,2018-10-21,DL,DL,DL,2745,DL,N935DN,2745,11433,DTW,...,501.0,17.0,0.0,0.0,0.0,0.0,None,None,None,None
2,2018-10-21,DL,DL,DL,2746,DL,N920DE,2746,10397,ATL,...,151.0,NaN,NaN,NaN,NaN,NaN,None,None,None,None
3,2018-10-21,DL,DL,DL,2746,DL,N920DE,2746,12217,HSV,...,151.0,NaN,NaN,NaN,NaN,NaN,None,None,None,None
4,2018-10-21,DL,DL,DL,2747,DL,N316DN,2747,10397,ATL,...,1590.0,NaN,NaN,NaN,NaN,NaN,None,None,None,None
5,2018-10-21,DL,DL,DL,2748,DL,N981DL,2748,10397,ATL,...,821.0,NaN,NaN,NaN,NaN,NaN,None,None,None,None
6,2018-10-21,DL,DL,DL,2750,DL,N301DV,2750,14107,PHX,...,1587.0,NaN,NaN,NaN,NaN,NaN,None,None,None,None
7,2018-10-21,DL,DL,DL,2751,DL,N998DL,2751,10397,ATL,...,432.0,NaN,NaN,NaN,NaN,NaN,None,None,None,None
8,2018-10-21,DL,DL,DL,2751,DL,N998DL,2751,12339,IND,...,432.0,16.0,0.0,0.0,0.0,4.0,None,None,None,None
9,2018-10-21,DL,DL,DL,2752,DL,N3738B,2752,12892,LAX,...,337.0,NaN,NaN,NaN,NaN,NaN,None,None,None,None

In [11]:
flight_sample.columns

Index(['fl_date', 'mkt_unique_carrier', 'branded_code_share', 'mkt_carrier',
       'mkt_carrier_fl_num', 'op_unique_carrier', 'tail_num',
       'op_carrier_fl_num', 'origin_airport_id', 'origin', 'origin_city_name',
       'dest_airport_id', 'dest', 'dest_city_name', 'crs_dep_time', 'dep_time',
       'dep_delay', 'taxi_out', 'wheels_off', 'wheels_on', 'taxi_in',
       'crs_arr_time', 'arr_time', 'arr_delay', 'cancelled',
       'cancellation_code', 'diverted', 'dup', 'crs_elapsed_time',
       'actual_elapsed_time', 'air_time', 'flights', 'distance',
       'carrier_delay', 'weather_delay', 'nas_delay', 'security_delay',
       'late_aircraft_delay', 'first_dep_time', 'total_add_gtime',
       'longest_add_gtime', 'no_name'],
      dtype='object')

In [13]:
select_fuel_comsumption = """
    SELECT *
    FROM fuel_comsumption
    LIMIT 10    
"""
fuel_comsumption_sample = execute_read_query(con, select_fuel_comsumption)
fuel_comsumption_sample

,month,airline_id,unique_carrier,carrier,carrier_name,carrier_group_new,sdomt_gallons,satl_gallons,spac_gallons,slat_gallons,...,sdomt_cost,satl_cost,spac_cost,slat_cost,sint_cost,ts_cost,tdomt_cost,tint_cost,total_cost,year
0,1,NaN,None,0JQ,None,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,5100.0,0.0,5100.0,2016
1,1,21352.0,0WQ,0WQ,Avjet Corporation,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,396216.0,140239.0,536455.0,2016
2,1,21645.0,23Q,23Q,Songbird Airways Inc.,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2016
3,1,21652.0,27Q,27Q,"Jet Aviation Flight Services, Inc.",1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2016
4,1,20408.0,5V,5V,Tatonduk Outfitters Limited d/b/a Everts Air A...,1,260848.0,0.0,0.0,0.0,...,522405.0,0.0,0.0,0.0,0.0,522405.0,569497.0,0.0,569497.0,2016
5,1,19917.0,5X,5X,United Parcel Service,3,32138000.0,9743000.0,16116000.0,2972000.0,...,34098000.0,9752000.0,17965000.0,3524000.0,31241000.0,65339000.0,34098000.0,31241000.0,65339000.0,2016
6,1,20007.0,5Y,5Y,Atlas Air Inc.,3,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,8575368.0,35795479.0,44370847.0,2016
7,1,19874.0,8C,8C,Air Transport International,2,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,42347.0,1855154.0,1897501.0,2016
8,1,20363.0,9E,9E,Endeavor Air Inc.,2,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2016
9,1,20190.0,9S,9S,Southern Air Inc.,2,821638.0,4696010.0,580875.0,0.0,...,1725440.0,9861621.0,1219839.0,0.0,11081460.0,12806900.0,1725440.0,11081460.0,12806900.0,2016

In [14]:
fuel_comsumption_sample.columns

Index(['month', 'airline_id', 'unique_carrier', 'carrier', 'carrier_name',
       'carrier_group_new', 'sdomt_gallons', 'satl_gallons', 'spac_gallons',
       'slat_gallons', 'sint_gallons', 'ts_gallons', 'tdomt_gallons',
       'tint_gallons', 'total_gallons', 'sdomt_cost', 'satl_cost', 'spac_cost',
       'slat_cost', 'sint_cost', 'ts_cost', 'tdomt_cost', 'tint_cost',
       'total_cost', 'year'],
      dtype='object')