In [2]:
%run ./db_connection.ipynb

In [23]:
flight_data_2019 = """
   SELECT 
    mkt_unique_carrier,
    branded_code_share,
    mkt_carrier_fl_num, op_unique_carrier,
    tail_num, op_carrier_fl_num,
    origin_airport_id, dest_airport_id,
    crs_dep_time, dep_time, dep_delay,
    taxi_out, wheels_off, wheels_on,
    taxi_in,
    crs_arr_time,
    arr_time, arr_delay,
    cancelled, cancellation_code,
    diverted,
    dup,
    crs_elapsed_time, actual_elapsed_time,
    air_time,
    flights,
    distance,
    carrier_delay, weather_delay, nas_delay, security_delay, late_aircraft_delay,
    first_dep_time, total_add_gtime, longest_add_gtime,
    fl_date,
    date_part('year', TO_DATE(fl_date,'YYYY-MM-DD')) as year,
    date_part('month', TO_DATE(fl_date,'YYYY-MM-DD')) as month    
   FROM flights
   WHERE date_part('year', TO_DATE(fl_date,'YYYY-MM-DD')) = 2019
"""
    
flight_2019 = execute_read_query(con, flight_data_2019)

In [24]:
flight_2019

,mkt_unique_carrier,branded_code_share,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,dest_airport_id,crs_dep_time,dep_time,...,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,fl_date,year,month
0,AA,AA_CODESHARE,4995,PT,N620AE,4995,14100,12397,2130,NaN,...,NaN,NaN,NaN,NaN,None,NaN,NaN,2019-10-03,2019.0,10.0
1,AA,AA_CODESHARE,5121,OH,N598NN,5121,10868,11057,641,637.0,...,NaN,NaN,NaN,NaN,None,NaN,NaN,2019-10-01,2019.0,10.0
2,AA,AA_CODESHARE,5126,OH,N568NN,5126,14576,11057,1137,1130.0,...,NaN,NaN,NaN,NaN,None,NaN,NaN,2019-10-01,2019.0,10.0
3,AA,AA_CODESHARE,5127,OH,N534AE,5127,11057,11973,930,926.0,...,NaN,NaN,NaN,NaN,None,NaN,NaN,2019-10-01,2019.0,10.0
4,AA,AA_CODESHARE,5127,OH,N534AE,5127,11973,11057,1102,1058.0,...,NaN,NaN,NaN,NaN,None,NaN,NaN,2019-10-01,2019.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8091679,B6,B6,182,B6,N779JB,182,10693,11697,1653,2053.0,...,0.0,0.0,0.0,219.0,None,NaN,NaN,2019-07-23,2019.0,7.0
8091680,B6,B6,183,B6,N547JB,183,12478,13204,530,558.0,...,0.0,0.0,0.0,0.0,None,NaN,NaN,2019-07-23,2019.0,7.0
8091681,B6,B6,185,B6,N266JB,185,14576,12478,530,517.0,...,NaN,NaN,NaN,NaN,None,NaN,NaN,2019-07-23,2019.0,7.0
8091682,B6,B6,189,B6,N986JB,189,12478,14679,830,824.0,...,NaN,NaN,NaN,NaN,None,NaN,NaN,2019-07-23,2019.0,7.0
8091683,B6,B6,190,B6,N986JB,190,14679,12478,1245,1243.0,...,NaN,NaN,NaN,NaN,None,NaN,NaN,2019-07-23,2019.0,7.0

In [26]:
print("Number of rows for 2019", len(flight_2019))

Number of rows for 2019 8091684