In [1]:
%run ./db_connection.ipynb

In [2]:
passenger_data_2019 = """
   SELECT departures_scheduled, departures_performed, payload, seats,
       passengers, freight, mail, distance, ramp_to_ramp, air_time,
       unique_carrier, airline_id, region,
       carrier_group_new,
       origin_airport_id, origin_city_market_id, 
       dest_airport_id, dest_city_market_id,
       aircraft_group, aircraft_type,
       aircraft_config, year, month, distance_group, class
    FROM passengers
    WHERE year = 2019
"""
passengers_2019 = execute_read_query(con, passenger_data_2019)

## Check the column data types

In [7]:
passengers_2019.dtypes

departures_scheduled     float64
departures_performed     float64
payload                  float64
seats                    float64
passengers               float64
freight                  float64
mail                     float64
distance                 float64
ramp_to_ramp             float64
air_time                 float64
unique_carrier            object
airline_id                 int64
region                    object
carrier_group_new          int64
origin_airport_id          int64
origin_city_market_id      int64
dest_airport_id            int64
dest_city_market_id        int64
aircraft_group             int64
aircraft_type              int64
aircraft_config            int64
year                       int64
month                      int64
distance_group             int64
class                     object
dtype: object

### Encode the String columns
- unique carrier
- region
- class

In [ ]:
# Must install category encoders to use this code block
# - pip install category_encoders
import category_encoders as ce

ce_ordinal = ce.OrdinalEncoder(cols=['unique_carrier','region','class'])
ce_ordinal.fit_transform(passengers_2019)

In [28]:
df = pd.DataFrame([['Male', 'AB', 1], ['Female', 'CD', 3], ['Female', 'AB', 3]])
df

        0   1  2
0    Male  AB  1
1  Female  CD  3
2  Female  AB  3

In [37]:
import category_encoders as ce

ce_ordinal = ce.OrdinalEncoder(cols=[0])
df2 = ce_ordinal.fit_transform(df)
print(ce_ordinal.get_feature_names())
df2

[0, 1, 2]

   0   1  2
0  1  AB  1
1  2  CD  3
2  2  AB  3

In [24]:
enc.categories_

[array(['Female', 'Male'], dtype=object), array(['AB', 'CD'], dtype=object)]

In [25]:
df2 = enc.transform(df)
df2

ValueError: The number of features in X is different to the number of features of the fitted data. The fitted data had 2 features and the X has 3 features.

In [16]:
import category_encoders as ce

ce_ordinal = ce.OrdinalEncoder(cols=[0])
df2 = ce_ordinal.fit_transform(df)

In [17]:
df2

   0  1
0  1  1
1  2  3
2  2  2